<aside class="menu">

    <p class="menu-label">
        Graphics
    </p>
    <ul class="menu-list">
        <li><a>Viewer</a></li>
    </ul>

    <p class="menu-label">
        ACCOUNT
    </p>
    <ul class="menu-list">
        <li>
            <div class="level">
                <div class="level-left">

                    <figure class="image is-32x32">
                        <img class="is-rounded" [src]="image">
                    </figure>
                    <a (click)="signOut()">Sign out</a>
                </div>
            </div>
        </li>
    </ul>
</aside>


